name: Auto-close blank templates from non-admins
on:
  issues:
    types: [opened]
jobs:
  add-comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - if: !(github.event.issue.user.site_admin || contains(github.event.issue.labels.*.name, 'bug') || contains(github.event.issue.labels.*.name, 'FeatureRequest'))
        name: Close Issue
        uses: peter-evans/close-issue@v1
        with:
          comment: |
            This issue has been automatically closed because it does not originate from a Duet3D administrator.
            Please create a discussion on our [forum](https://forum.duet3d.com) first and fill out the corresponding GitHub template if the bug or feature request is acknowledged.
